# Ternary Conditionals

Single line codes for better coding

In [2]:
condition = False
x = 1 if condition else 0
print(x)

0

In [31]:
a = [pow(i, 3) for i in range(3)]
a # list of power in one line

[0, 1, 8]

# lambda function
A lambda function can take any number of arguments, but can only have one expression.

In [33]:
x = lambda a : a + 10
print(x(5))

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

15
13

## filter with lambda

In [37]:
# small program that returns the odd numbers from an input list:

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

## map with lambda

In [ ]:
# map() with lambda() to get double of a list. 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

# Underscore Placeholders and fstring
For better readability of code as well as output

In [7]:
x = 1_00_00_000
print(x)
print(f'{x:,}')

10000000
10,000,000

In [11]:
first, last = "Rohit", "Lal"

print(f'My name is {first} {last}')

My name is Rohit Lal

# Unpacking

In [15]:
a,b, _ = (1,2,3)
print(f'a = {a} , b = {b}')

a,b, *_ = (1,2,3,4,5,6)
print(f'a = {a} , b = {b}')

a,b, *c = (1,2,3,4,5,6)
print(f'a = {a} , b = {b}, c = {c}')

a, b, *c , d = (1,2,3,4,5,6)
print(f'a = {a} , b = {b}, c = {c}, d = {d}')

a = 1 , b = 2
a = 1 , b = 2
a = 1 , b = 2, c = [3, 4, 5, 6]
a = 1 , b = 2, c = [3, 4, 5], d = 6

# Dynamically setting values to Class

In [17]:
class Person():
    pass

p1 = Person()

p1.first = "Rohit"
p1.last = "Lal"

print(p1.first, p1.last)

Rohit Lal

In [23]:
class Person():
    pass

p1 = Person()
try:

    first_key = "first"
    first_name = "Rohit"
    p1.first_key = first_name
    print(p1.first, p1.last)
except AttributeError:
    print('AttributeError')
    print('we cant use `p1.first_key = first_name` as it will create first_key attribute not `first`')

AttributeError
we cant use `p1.first_key = first_name` as it will create first_key attribute not `first`

## Setattr/Getattr to solve above problem

In [26]:
class Person():
    pass

p1 = Person()

first = "first"
first_name = "Rohit"

setattr(p1,first,first_name)

fname = getattr(p1,first)
print(p1.first)

Rohit